*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    text-decoration: none;
    
}


.card {
    display: flex;
    flex-direction: column; 
    position: relative;
    max-width: 260px;
    width: 35%;
    background-color: rgb(48, 47, 47);
    border-radius: 5px;
  }

  .name {
    top: 0;
    background-color: rgb(250, 49, 49);
    color: yellow;
    font-size: 23px;
    text-transform: uppercase;
  
  }



  .img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(102, 101, 101);
    height: 10rem;
    width: 10rem;
    margin-left: 50px;
    border-radius: 20px;
}


.tamaño {
    height: 140px;
}

.detail {
    width: 10rem;
    height: 1.5rem;
    margin-left: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #105307 ;
    bottom: 10px;
    border-radius: 10px;

  }

.detail:hover{
    background-color: red;
    color: white
}

  .letra{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884)
  }

  

  .p {
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
    color: white;
    background-color: red;
    max-width: 140px;
    border-radius: 10px;
  }