.container {
    display: flex;
    flex-direction: column;
   
}

.pokemons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 4%;
    margin-bottom: 4%;
}

.jhon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
